$pokemonComponentBackground: #2ad4ffff;

.flex-right {
	display: flex;
	flex-direction: row;
}

.flex-down {
	display: flex;
	flex-direction: column;
}

.text-box {
	background-color: darken($color: $pokemonComponentBackground, $amount: 20);
	border-radius: 1rem;
	padding: 1rem;
}

.pokemon-component {
	@extend .flex-down;
	gap: 1rem;
	width: 20rem;
	background-color: $pokemonComponentBackground;
	border: solid darken($color: $pokemonComponentBackground, $amount: 20) 1.5rem;
	border-radius: 2rem;
	padding: 1rem;
	font-size: small;
	.flex-right {
		gap: 1.5rem;
		.flex-down {
			.pokemon-name {
				text-align: center;
				text-transform: capitalize;
				background-color: #ff5555ff;
				border-radius: 5px;
				text-shadow: 1px 2px 3px rgb(93, 93, 93);
			}
			.flex-down {
				@extend .text-box;
			}
		}
	}
	.pokemon-description {
		@extend .text-box;
		padding: 0.5rem 1rem;
		margin-bottom: 0;
	}
}
