$pokemonComponentBackground: #2ad4ffff;
$complementaryColor: #ff5555ff;

.flex-right {
	display: flex;
	flex-direction: row;
}

.flex-down {
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
}

.text-box {
	background-color: darken($color: $pokemonComponentBackground, $amount: 20);
	border-radius: 1rem;
	padding: 1rem;
}

.header {
	@extend .flex-right;
	justify-content: space-between;
	height: 15rem;
	background-color: $complementaryColor;
	margin: 0;
	margin-bottom: 10rem;
	.pokeball-image {
		transform: translateY(4rem);
		object-fit: scale-down;
		width: 20%;
	}
	.pokemon-logo {
		transform: scale(1.5) translateX(-7%);
		padding-top: 3%;
		width: 40%;
	}
	.navbar {
		@extend.flex-right;
		align-items: flex-end;
		justify-content: center;
		height: 100%;
		margin-right: 4rem;
		gap: 1rem;
	}
	.nav-link {
		margin: 0.5rem;
		padding: 0.2rem;
		font-size: 1.5rem;
		text-decoration: none;
		color: black;
		background-color: red;
		border: solid black 1px;
		border-radius: 0.5rem;
		text-transform: capitalize;
		&:hover {
			transform: scale(1.5);
		}
	}
}

.search-bar {
	@extend .flex-down;
	position: relative;
	align-items: center;
	justify-content: center;
	.search-input,
	.search-button {
		font-size: larger;
		border: solid black;
		border-radius: 1rem;
	}
	.search-input {
		width: 30rem;
		padding: 1rem;
	}
	.search-button {
		position: absolute;
		right: 0;
		font-weight: 900;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: red;
		padding: 1rem;
		cursor: pointer;
		&:hover {
			height: 4.5rem;
			transform: scale(1.5);
			border-radius: 50%;
			background: linear-gradient(-180deg, red 50%, white 50%);
		}
		&:active {
			animation: search-rotate 0.2s;
		}
	}
}

.main-container {
	display: flex;
	align-items: center;

	.pokemon-list {
		flex-grow: 0;
		flex-shrink: 0;
		@extend .flex-right;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10rem;
		.pokemon-container {
			flex: 0 0 20rem;
			height: 20rem;
			transition: all 1s;
			position: relative;

			.pokemon-component-front,
			.pokemon-component-back {
				flex: 0 0 20rem;

				backface-visibility: hidden;
				position: absolute;
				@extend .flex-down;
				gap: 1rem;
				background-color: $pokemonComponentBackground;
				border: solid
					darken($color: $pokemonComponentBackground, $amount: 20) 1.5rem;
				border-radius: 2rem;
				padding: 1rem;
				font-size: small;
				cursor: pointer;
				.flex-right {
					gap: 1.5rem;
					.pokemon-image {
						width: 7rem;
						object-fit: scale-down;
					}
					.flex-down {
						.pokemon-name {
							text-align: center;
							text-transform: capitalize;
							background-color: $complementaryColor;
							border-radius: 5px;
							text-shadow: 1px 2px 3px rgb(93, 93, 93);
							width: 15rem;
						}
						.stats-div {
							@extend .text-box;
							gap: 0.5rem;
							p {
								text-transform: capitalize;
								margin: 0;
							}
						}
					}
				}
				.pokemon-description {
					@extend .text-box;
					padding: 0.5rem 1rem;
					margin-bottom: 0;
				}
			}

			.pokemon-component-back {
				transform: rotateY(180deg);
			}

			&:active {
				transform: rotateY(180deg);
			}
		}
	}
}

@keyframes search-rotate {
	0% {
		transform: translate(-3px, 0px) rotate(90deg);
	}
	50% {
		transform: translate(-1px, -1px) rotate(360deg);
	}
}

@keyframes flip-card {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(180deg);
	}
}
